flask
flask-sqlalchemy
flask_script
flask_bootstrap
sklearn
numpy
scipy
nltk
matplotlib
jupyter
flake8
pydocstyle
pylint
autopep8
gunicorn
gensim
bs4
lxml
keras
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
h5py
tensorflow
pillow