{% extends "layout.html" %}
{% block body %}
  <ul class=content>
    <p>
      for user {{ user_id }} we have the following reccomendations:
    </p>
    <h2> Based on popularity </h2>
    <p>
      <ol>
      {% for item in pop_recs %}
        <li> {{pop_recs[loop.index0]}} </li>
      {% endfor %}
      </ol>
    </p>
    <h2> Based on SVD </h2>
    <p>
      <ol>
      {% for item in svd_recs %}
        <li> {{svd_recs[loop.index0]}} </li>
      {% endfor %}
      </ol>
    </p>
    <h2> Based on content </h2>
    <p>
      <ol>
      {% for item in content_recs %}
         <li>{{content_recs[loop.index0]}}</li>
      {% endfor %}
      </ol>
    </p>
  </ul>
{% endblock %}
