body            { font-family: sans-serif; background: white; }
p, li, a, h1, h2       { color: black; }
p[class=input_text] {font-size: 1.2em;
                     font-style: italic; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; 
                  text-align: center;}
h2              { font-size: 1.2em; }
input           { 
                    width: 400px; 
                    height: 150px;
                    position: top left;
                }
input.break {
    word-wrap: break-word;
    word-break: break-all;
    height: 80px;
}
input[type=submit]   { width: 405px; }
.page           { margin: 2em auto; width: 35em;
                  padding: 0.8em; background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid black; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: black; padding: 0.5em;
                  border: 1px solid black; }
.error          { background: #f0d6d6; padding: 0.5em; }
