{% extends "layout.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
  <div class=content>
    {{ wtf.quick_form(form) }}
    <p>
      Based on the text you entered: we give the following probability to the genres:
    </p>
    <p class=input_text>
      {{text}}
    </p>
    <p>
      We suggest the following tags:
    </p>
    {% for item in list %}
      <div class="game-tag"> 
        <span class="tag-name">
          {{item[0]}}
        </span>
        <span class="tag-probability">
          ({{item[1]}}) 
        </span>
      </div>
    {% endfor %}
  </div>
{% endblock %}
